<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <!-- PICK TRAIN -->
 <ion-list>
    <ion-item>
    <ion-label>Select Train</ion-label>
    <ion-select #newSelect [(ngModel)]="yourtrain" (change)="onChange(yourtrain)">
      <ion-option *ngFor="let trains of trains">
         {{trains}}
      </ion-option>
    </ion-select>
  </ion-item>
  </ion-list>

<!-- PICK LOCATION -->
  <ion-list>
     <ion-item>
     <ion-label>Select Location</ion-label>
     <ion-select>
       <ion-option *ngFor="let station of stations | async">
          {{station.name}}
       </ion-option>
     </ion-select>
   </ion-item>
   </ion-list>





<!-- //FOR USING SEARCHBAR
  <p>Input your location : </p>
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let item of items">
      {{ item }}
    </ion-item>

  </ion-list>
-->


  <button class="buttonGo" ion-button (click)="presentAlert()">GO</button>
</ion-content>
